{% extends 'base.html' %}
{% block content %}


<tr><th colspan="5">Група {{ group.name }}</th></tr>
<form action="" method="post">
        {% csrf_token %}

<table class="table table-bordered">
        {{ form.as_table  }}
  <thead>
    <tr>
      <th>№ п/п</th>
      <th>Студент</th>
       {% for subject in subjects %}
           <th>{{ subject.name }}</th>
       {% endfor %}
    </tr>
  </thead>

  <tbody>
   {% for student , points in score_summary.items %}
        <tr>
          <td>{{ forloop.counter  }}</td>
          <td>{{ student }}</td>
            {% for subject, point in points.items %}
                {% if point is not None %}
                    <td><input value={{ point }} disabled type="text" size="5"> </td>
                {% else %}
                     <td><input name="{{ student }}_{{ subject }}" type="text" size="5"> </td>
                 {% endif %}
              {% endfor %}
   {% endfor %}
        </tr>
  </tbody>
</table>
        <input type="submit" value="Save">
</form>

{% endblock %}
