{% extends 'base.html' %}
{%  block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>По-батькові</th>
      <th>Група</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for student in students_list %}
      <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.surname }}</td>
        <td>{{ student.patronymic }}</td>
        <td>{{ student.group }}</td>
        <td><a href="{{ student.get_absolute_url }}" class="btn btn-secondary">Показати більше</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}